:root {
    --clr-azul-escuro: #34495e;
    --clr-azul-claro: #A6C2DE;
    --clr-principal: #ffffff;
    --clr-background: #ecf0f1; 
    --shadow-dark: 0px 2px 10px -2px rgba(37, 45, 52, 0.74);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--clr-background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: var(--clr-principal);
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--shadow-dark);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--clr-azul-escuro);
    color: var(--clr-principal);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #9EA9B3;
}
