:root {
    --clr-azul-escuro: #2C3E50;
    --clr-azul-claro: #3498DB;
    --clr-principal: #ffffff;
    --clr-background: #ECF0F1;
    --clr-card-hover: #2980B9;
    --clr-card-text-hover: #ECF0F1;
    --shadow-dark: 0px 4px 12px -2px rgba(0, 0, 0, 0.2);
    --font-padrao: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-padrao);
}

body {
    min-height: 100vh;
    background: var(--clr-background);
    color: var(--clr-azul-escuro);
}

header {
    width: 100%;
    background-color: var(--clr-azul-escuro);
    padding: 20px 0;
    box-shadow: var(--shadow-dark);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2em;
    color: var(--clr-principal);
    user-select: none;
}

.navegador a {
    font-size: 1.1em;
    color: var(--clr-principal);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    position: relative;
}

.navegador a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: var(--clr-azul-claro);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navegador a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

main {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.section_conteudos,
.section_metas {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.section_conteudos h2,
.section_metas h2 {
    font-size: 2em;
    color: var(--clr-azul-escuro);
    margin-bottom: 20px;
    text-align: center;
}

.conteudos_cards,
.section_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.bloco_card {
    background-color: var(--clr-azul-escuro);
    color: var(--clr-principal);
    width: 250px;
    height: 200px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow-dark);
    transition: background-color 0.3s, transform 0.3s;
}

.bloco_card:hover {
    background-color: var(--clr-card-hover);
    transform: translateY(-5px);
}

.bloco_card h2 {
    font-size: 1.5em;
    text-align: center;
    color: var(--clr-principal);
    margin-top: 50px;
}


.section_metas p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.botao_criar {
    padding: 10px 20px;
    background-color: var(--clr-azul-claro);
    color: var(--clr-principal);
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
}

.botao_criar:hover {
    background-color: var(--clr-card-hover);
}
